{{yield}}
<div class="row">
	{{log model}}
	<div class="col s12 m12">
		{{#each model as |pergunta|}}
		  	{{pergunta.message}}
		  	<hr>
		    {{else}}
			<b>Sem posts para analisar</b>
		{{/each}}
	</div>
</div>