@import 'materialize';
@import 'ember-cli-materialize';

.page-info-box {
  position:absolute;
  bottom:-13px;
  left:5px;
  color: rgb(255,255,255);
}
.page-info-box-header {
  padding:10px;
  background-color: rgba(0,0,0,.3);
}
.page-info-box-footer {
  padding:0 0 0 10px;
  // background-color: rgba(0,0,0,.3);
}

.post-meta-box ul li {
  display: inline;
  margin-right: 5px;
}

.post-meta-box .post-type {
  float:right;
  padding: 5px 5px 5px 0;
}

.fb-reactions {
  width: 15px;
  height: 15px;
}

.post-title {
  display:block;
  padding: 0;
  margin:0 5px 5px 0;
}

.user-info-image {
  // border-radius: 50%;
  width: 40px;
  height: 40px;
}

.post-row {
  position:relative;
}

.post-card {
  position:absolute;
  width:30%;
}

.pergunta {
  background-color: rgba(240,140,0, .5);
}

.positivo {
  background-color: rgba(0,140,0, .5);
}

.comment-reply-box {
  // background-color:#fff;
  margin-left: 40px;
  border-left: 2px solid #DDDFE2;
  // transform: scale3d(.99,.99,.99);
}

.comment-reply-box .comment-box-footer {
  border-bottom:none;
  padding:5px 0;
  margin-top:5px;
}

.comment-reply-box.comment-box {
  // border-left: 1px solid 
  padding:0 10px 10px 10px;
  // border-bottom:1px solid green;
}

.comment-reply-box > .comment-box-body > p {
  margin-top:-3px;
  // font-size:12px;
}

.comment-reply-box > .user-info-image {
  width:35px;
  height:35px;
}

.comment-reply-box > hr {
  background-color: rgba(221,223,226,1);
  // height:1px;
  opacity:.3;
}

.comment-box-row {
  // width:98%;
  // margin-left: 18% !important;
  position:absolute;
  left:32%;
  width:65%;
  background-color: #F6F7F9;
}

.comment-parent {
  margin-bottom:40px;
  // background-color: purple;
}

@media screen and (max-width:768px) {
  .post-card {
    position:initial;
    width:initial;
  }
  .comment-box-row {
    position:initial;
    width:initial;
    left:initial;
  }
}
.comment-box img.user-info-image {
  float:left;
  margin-right:10px;
}

.comment-box {
  padding: 10px 0 0 10px;
}

.comment-box-body {
  // width: 60%;
  // overflow:hidden;
  // background-color: green;
  margin-top:-18px;
  margin-left:45px;
  overflow:scroll;
}
.comment-box-body p {
  // width: 85%;
  // font-size:12px;
}

.comment-box-body .comment-like {
  // display:block;
  // margin-left:-2px;
}

.comment-box-footer {
  border-bottom:1px solid rgba(140,140,140,.3);
  padding:10px 0;
  margin-top:10px;
  // width:100%;
}

.indicators li.yellow.pergunta-active {
  // border:1px solid rgba(0,0,0,.3);
  box-shadow:1px 1px 2px rgba(0,0,0,1), inset 1px 1px 2px rgba(0,0,0,1);
}
.indicators li.green.positivo-active {
  // border:1px solid rgba(0,0,0,.3);
  box-shadow:1px 1px 2px rgba(0,0,0,1), inset 1px 1px 2px rgba(0,0,0,1);
}
.indicators {
  list-style:none;
  display:inline;
}
.indicators li {
  display:inline-block;
  width:14px;
  height:14px;
  content: ' ';
  border-radius:50%;
  margin-right:5px;
}
.indicators li.green {
  background-color: green;
}
.indicators li.yellow {
  background-color: yellow;
}
.indicators li.red {
  background-color: red;
}

.link {
  color: blue;
}
.status {
  color: orange;
}
.photo {
  color: green;
}
.video {
  color: red;
}
.offer {
  color: cyan;
}

.post-meta-box {
  // background-color:green;
}

.tags-item {
	background-color:green !important;
}

.tags-list li {
	margin:5px;
}

.tags-list li a {
	display:inline-block;
	/*color:white;*/
	text-transform:uppercase;
	letter-spacing:1.5px;
	transition: .3s ease-in;
}

.tags-list li a:hover {
	text-decoration:none;
	color:orange;
}

.list-inline {
	display:inline-block;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -2px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
}

img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-perfil {
  width:38px;
  height:38px;
  border-radius:50%;
}

.ember-cli-g-map {
    height: 350px;
}

.preloader-wrapper {
  display:block;
  margin:0 auto;
}

.card-title {
  line-height:25px !important;
  font-size:18px !important;
  // color: #ccc !important;
}

.card-user-image {
  border-radius: 50%;
  width:38px;
  height: 38px;
}

.btn-ler-mais {
  margin:5px 0;
}

.equipe-item {
  position:relative;
}

.equipe-close {
  color:red;
  position:absolute;
  top:-10px;
  right:-6px;
  // z-index:100000;
}

.pauta-deleted {
  // border: 2px solid rgb(144,0,0);
  // background-color:#f0f0f0;
}

.esconde {
  display:none;
}

.user-add-funcao {
  margin-top:20px;
}

.footer-paginate { width: 100%; overflow: hidden; text-align:center;}
.footer-paginate ul { list-style: none; display:inline-block; }
.footer-paginate ul li { display:inline; }










