<div class="container">
	<div class="row">
	  	{{#if session.isAuthenticated}}
	  		{{post-view post=model postUsers=postUsers session=session on-follow="followPost" on-record="recordPost" on-unfollow="unfollowPost" isFollowing=isFollowing following=following}}
	    {{else}}
	    	Você precisa estar logado para ver as notícias
	    {{/if}}
	</div>
	<div class="row">
		<div class="col l12">
			<a href="javascript:history.back(1);">Voltar</a>
		</div>
	</div>
</div>
{{outlet}}